<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>位置</string>
				<key>key</key>
				<string>Geo</string>
				<key>value</key>
				<string></string>
				<key>nTag</key>
				<integer>0</integer>
				<key>nType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>经度</string>
				<key>key</key>
				<string>Lon</string>
				<key>value</key>
				<string></string>
				<key>nTag</key>
				<integer>1</integer>
				<key>nType</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>纬度</string>
				<key>key</key>
				<string>Lat</string>
				<key>value</key>
				<string></string>
				<key>nTag</key>
				<integer>2</integer>
				<key>nType</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>调查人</string>
				<key>key</key>
				<string>Reporter</string>
				<key>value</key>
				<string></string>
				<key>nTag</key>
				<integer>3</integer>
				<key>nType</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>headerTitle</key>
		<string>基本信息</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>具体描述</string>
				<key>key</key>
				<string>ReportInfo</string>
				<key>value</key>
				<string></string>
				<key>nTag</key>
				<integer>4</integer>
				<key>nType</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>headerTitle</key>
		<string>信息描述</string>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>headerTitle</key>
		<string>现场图像</string>
	</dict>
</array>
</plist>
